<%= render 'shared/carousel' %>

  <div class="d-flex flex-row mt-2 w-100">
    <% if user_signed_in? %>
      <h5>You are signed in as <strong><%= "#{current_user.first_name} #{current_user.last_name} 🚀" %></strong></h5>
    <% else %>
      <h5>You are not signed in.</h5>
    <% end %>
  </div>

<div class="mt-2 mb-2 d-flex flex-row">
  <div class="post-group mt-2 mb-2 d-flex flex-column col-6" data-controller="move-posts">
    <%# Search-form for posts %>
    <div class="d-flex flex-row mt-5 mb-5">
      <%= form_with url: root_path, method: :get, class: "d-flex w-100" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control-lg form-control field-search",
          placeholder: "Find a post"
        %>
        <%= submit_tag "Search", class: "btn btn-lg btn-primary btn-search" %>
      <% end %>
    </div>
    <%# Show posts according to @posts in pages#home %>
    <% @posts.each do |post| %>
      <div class="d-flex flex-column posts-card" data-controller="posts-card">
        <div class="box">
          <span id="post-date"><%= post.date %></span>
          <h3><%= post.title %></h3>
          <h5><%= post.subtitle %></h5>
          <p><%= post.content %></p>
          <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
          <i class="fa-solid fa-comment-medical"></i>
          <i class="fa-solid fa-comments"></i>
        </div>

        <%# Create new comment %>
        <div class="box new-comment-box display-none">
          <p>New comment</p>
          <% comment = Comment.new %>
          <%= simple_form_for comment do |f| %>
            <%= hidden_field_tag "comment[post_id]", "#{post.id}" %>
            <%= hidden_field_tag "comment[date]", "#{Date.today}" %>
            <%= f.input :content, as: :text %>
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>

        <%# Show all comments for post where post_id is post.id %>
        <div class="comment-box box display-none">
          <% comments = Comment.where(post_id: post.id) %>
          <% comments.each do |comment| %>
          <div class="">
            <p class="comment-date"><%= comment.date %></p>
            <p class="comment-user">Anonymous</p>
            <p class="comment-content"><%= comment.content %></p>
          </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="second-column post-group mt-2 mb-2 d-flex flex-column col-6">
  </div>
</div>
